.girl-cat {
  .btn {
    border: none;
    font-size: 16px;
    color: white;
    background-color: red;
    cursor: pointer;
    margin: 0 10px 10px 0;
    padding: 5px 10px;

    &:hover {
      background-color: orange;
    }

    &:active {
      background-color: black;
    }

    &:disabled {
      opacity: 0.2;
      background-color: red;
      cursor: unset;
    }
  }
}
