.upf-data {
  padding: 20px;

  .details,
  .question {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: lavender;
  }

  .editor-panel {
    margin: 10px;
    position: relative;

    .invisible-btn {
      position: absolute;
      z-index: 20;
      // background-color: orange;
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
  }
}

:global(#details-view-body),
:global(#question-view-body) {
  background-color: rgb(20, 0, 68) !important;
}
