.main {
  padding: 20px;

  .details,
  .question {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: lavender;
  }

  .editor-panel {
    margin: 10px;
    position: relative;

    * {
      font-size: 14px;
    }

    .invisible-btn {
      position: absolute;
      z-index: 20;
      // background-color: orange;
      cursor: pointer;
      height: 100%;
      width: 100%;

      &:hover {
        background-color: rgba(orange, 0.3);
      }
    }
  }

  .available-girl-cat {
    margin-bottom: 10px;

    select {
      font-size: 16px;
    }
  }
}

:global(#details-view-body),
:global(#question-view-body) {
  background-color: rgb(20, 0, 68) !important;
}
